@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("assets/img_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.1rem;
}

h1, h2, p{
    font-family: "Poppins";
    margin: 12px;
}

h2 {
    font-weight: normal;
}

.product_card {
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    border:1px solid rgba(255,255,255,0.3);
    border-radius: 20px;
    padding: 2px;
    margin: 20px;
}

img {
    width: 200px;
}

#img_second {
    display: none;
}
#img_third {
    display: none;
}
#img_fourth {
    display: none;
}
.color_element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
}
.color_box {
    background-color:#898C6Ded;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 2px solid black;
}

.color_box:nth-child(2) {
    background-color: #2C2C2C;
}
.color_box:nth-child(3) {
    background-color: #E3DED8;
}
.color_box:nth-child(4) {
    background-color: #B28077;
}

.size_element {
    display: flex;
    flex-direction: row;
    gap: 6px;
    justify-content: center;
    font-family: "Poppins";
    margin-top: 0;
    margin-bottom: 20px;
}

.size, #add, #sub {
    height: 40px;
    width: 40px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    cursor: pointer;  
    background-color: white;       
}

.out_of_stock {
    position: relative;
    height: 40px;
    opacity: 0.4;
    cursor: not-allowed;
}

.out_of_stock::after {
    content: "";
    position: absolute;
    width: 150%;
    height: 2px;
    background-color: rgb(133, 63, 63);
    transform: rotate(45deg);
}

.size:not(.out_of_stock):hover {
    transform: scale(2);
    border: none;
    background-color: transparent;
}

.btn_availability, input  {
    border:2px solid #2C2C2C;
    font-family: "Poppins";
}

 .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    gap: 6px;
}

.num {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn_confirm {
    background-color: white;
    color: black;
    margin: 10px;
    padding: 12px;
    font-weight: bold;
    border:1px solid black;
    border-radius: 6px;
    font-size: 1.3rem;
}

.btn_confirm:hover {
    background-color: black;
    color: white;
    border-color: white;
    cursor: pointer;
}

.current_price {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
}
.old_price {
    color: rgb(66, 65, 65);
    font-size: 1.3rem;
    margin: 0;
    text-decoration: line-through solid rgb(133, 63, 63);
    margin-top: 10px;
}

.price_info, .availability p {
    font-size: 0.8rem;
    width: 50%;
    margin: auto;
}

@media(min-width: 1024px) {
    .product_card {
        width: 80%;
        margin: 5vh auto;
    }

    img {
        width: 450px;
    }

    .product_card_info {
        display: flex;
        margin: auto;
        width: 100%;
        justify-content: space-around;
    }
    .availability p, .price_info {
        width: 100%;
    }
}

@media(min-width:1440px) {
    .product_card {
        width: 60%;
    }
}


